# Naive Bayes Classifier for SPam Dectection

In [1]:
import pandas as pd
df=pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [3]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.25)

In [8]:
len(X_train)

4179

In [9]:
len(X_test)

1393

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_Count=v.fit_transform(X_train.values)
X_train_Count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [11]:
X_train_Count.toarray()[:1]

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [12]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_Count,y_train)

MultinomialNB()

In [19]:
emails=['Please click on this link, this is a chance for you1']
emails_Count=v.transform(emails)
model.predict(emails_Count)

array([1], dtype=int64)

In [20]:
#1 this is  spam

In [23]:
X_test_Count=v.transform(X_test)
model.score(X_test_Count,y_test)

0.9856424982053122

In [24]:
from sklearn.pipeline import Pipeline

In [25]:
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [26]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [27]:
clf.score(X_test,y_test)

0.9856424982053122

In [28]:
from sklearn.datasets import load_wine

In [29]:
wine=load_wine()

In [34]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']