**Pandas Tricks**

Trick 02<br></br>

Convert Data

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
#Import Data and Make DataFrame

In [11]:
df=pd.read_csv('/content/drive/MyDrive/titanic.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [12]:
df.sex.head()

0    female
1      male
2    female
3      male
4    female
Name: sex, dtype: object

In [13]:
df['sex_num']=df.sex.map({'male':0,'female':1})
df.sex_num.head()

0    1
1    0
2    1
3    0
4    1
Name: sex_num, dtype: int64

In [14]:
df.embarked.head()

0    S
1    S
2    S
3    S
4    S
Name: embarked, dtype: object

second method using factorize method

In [17]:
df['embarked_num']=df.embarked.factorize()[0]
df.embarked_num.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    1
Name: embarked_num, dtype: int64

In [18]:
df.embarked.factorize()

(array([0, 0, 0, ..., 1, 1, 0]), Index(['S', 'C', 'Q'], dtype='object'))

In [19]:
df.embarked.factorize()[1]

Index(['S', 'C', 'Q'], dtype='object')

In [20]:
df.embarked.factorize()[0]

array([0, 0, 0, ..., 1, 1, 0])

In [21]:
df['sibsp_binary']=(df.sibsp>0).astype('int')

In [22]:
df.sibsp_binary.head()

0    0
1    1
2    1
3    1
4    1
Name: sibsp_binary, dtype: int64